@import url("https://fonts.googleapis.com/css?family=Roboto");
/* offset-x > | offset-y ^| blur-radius | spread-radius | color */
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: .3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: .3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: .5s;
  border-radius: 10px;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight .6s 0.0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4cc370;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #3d9e5a;
  transition: .3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: .3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight .6s 0.0s both;
  background-color: #fafafa;
  border: solid 3px #3d9e5a;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: .3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: .3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}

.servicios_lista{max-width: 300px !important; margin-bottom: 30px}
#servicios {
    max-width: 1100px;
    margin: auto;
}
.bg_servicios {
    background: url(/images/FS/fondoservicios.png);
    background-repeat: repeat-y;
    background-size: contain;
}
.servicios_detalle {
  max-width: 380px !important;
  margin-bottom: 30px;
}
.cursor_p{cursor: pointer;}
button.close{position: absolute;
  right: 7px;
  z-index: 1;
  top: 7px;
}
.p-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.lista_p_servic{padding: 50px}
.lista_p_servic h3{ font-weight:bold; font-size:16px; color:#2b3b80 }
.lista_p_servic li {font-size: 15px;font-weight: 600;margin-left: 15px;}
.lista_p_servic ul li::before{content: "\2022";color: #ff5200;font-weight:bold;display:inline-block;width:15px;margin-left:-13px;font-size:21px;}
.tabla_serv_icons{margin:15px;vertical-align:middle; }
.tabla_serv_icons td{vertical-align:middle !important; padding-top: 10px; padding-bottom: 10px;font-size: 15px}
.lista_p_servic p{font-size: 15px}
.volver_principal {
  width: 100px;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 7px;
  margin-top: 100px;
}
.serv_imagen{margin: 0;width: 100%; height: auto;}
.serv_titulo{background: #2e3980;  padding:15px; vertical-align: middle}
.serv_titulo div{text-align: center; width: 100%;min-height: 75px;font-weight: bold;color:#fff;}
.serv_descripcion {
  background: #ddd;
  color: #666;
  padding: 20px 30px;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  min-height: 159px;display: -webkit-box;
  font-family:'Montserrat', sans-serif;
}
.serv_link{position: relative}
.serv_link a {
  background: #8BD804;
  color: #2e3980;
  padding: 7px 15px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  width: 120px;
  display: inline-block;
  margin-bottom: 30px;
}
.tabla_servicio{min-height: 550px; margin-bottom:30px;}

td.serv_link:before {
  content: "";
  width: 100%;
  height: 0px;
  border-left: 60px solid transparent;
  border-top: 68px solid #dddddd;
  position: absolute;
  left: 0;
}

.parrafo_serv{font-weight: 600;color:#888888;top: 50%;left: 50%;transform: translate(-50%, -50%); padding: 30px;}
.cuadros_prog > div {
  display: table;min-height: 200px;     margin-bottom: 15px;
}
.cuadros_prog > div > div {
    display: table-cell;
    background: #8ac340;
    color: #fff;
    border-radius: 16px;
    padding: 25px;
    font-size: 13px;
    height: 100%;
    vertical-align: middle;
}
.cuadros_prog > div > div:after {
    /*
    content: "\f061";
    font: normal normal normal 14px/1 FontAwesome;
    color: #2e377c;
    font-size: 27px;
    */
    content: "";
    position: absolute;
    right: -15px;
    top: 40%;
    background: url(../images/icons/flecha_der.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}
.cuadros_prog > div:last-child > div:after {display: none;}

.cuadrosAzul > div {
  display: table;min-height: 200px;     margin-bottom: 15px;
}
.cuadrosAzul > div > div {
  display: table-cell;
  background: #2d3a80;
  color: #fff;
  padding: 15px;
  font-size: 13px;
  height: 100%;
  vertical-align: middle;
}
.cuad7 > div{max-width: calc((100% / 7) - 8px ) !important;}
.cuad5 > div {min-width: calc(100% / 5);}